/*use a galary template, fix bugs */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    background-color: #FFFFF0;
    /*center texts.*/
    text-align: center;
    /*100vh takes entire page height*/
    height: 100vh;
    /*whole gallery.*/
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

header {
    display: grid;
    font-size: xx-large;
    padding: 20px;
}

main {
    font-size: x-large;
    padding: 50px;
    color: #FFFFF0;
    background-color: #353535;
    display: grid;
    /*horizontal center pics.*/
    justify-items: center;
    /*grids move to next line if too small*/
    grid-template-columns: repeat(auto-fit,
    minmax(270px, 1fr));
    row-gap: 50px;
}

.hoverColor {
    margin-top: -20px;
    height: 250px;
    width: 230px;
    opacity: .35;
    transition-property: opacity;
    transition-duration: .7s;
}

.images {
    height: 250px;
    width: 230px;
    /*image sizes to box.*/
    background-size: cover;
    background-size: 230px 250px; 
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 0px 5px;
    transition-property: box-shadow;
    transition-duration: .7s;
}

.hoverColor:hover {
    opacity: 1;
}

.images:hover {
    cursor: pointer;
    box-shadow: 7px 7px 6px;
}

#picOne {
    background-image: url("img/img1.jpg");
}

#picTwo {
    background-image: url("img/img2.jpg");
}

#picThree {
    background-image: url("img/img3.jpg");
}

#picFour {
    background-image: url("img/img4.jpg");
}

#picFive {
    background-image: url("img/img5.jpg");
}

#picSix {
    background-image: url("img/img6.jpg");
}

#picSeven {
    background-image: url("img/img7.jpg");
}

footer {
    font-size: x-large;
    padding: 10px;
}